PhoneShop/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62677/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62677/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62677/Service.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:62677/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_collect_Con_InputMessage">
    <wsdl:part name="parameters" element="tns:collect_Con" />
  </wsdl:message>
  <wsdl:message name="IService_collect_Con_OutputMessage">
    <wsdl:part name="parameters" element="tns:collect_ConResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateTree_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTree" />
  </wsdl:message>
  <wsdl:message name="IService_CreateTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getTableTree_InputMessage">
    <wsdl:part name="parameters" element="tns:getTableTree" />
  </wsdl:message>
  <wsdl:message name="IService_getTableTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTableTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getConsultingResults_InputMessage">
    <wsdl:part name="parameters" element="tns:getConsultingResults" />
  </wsdl:message>
  <wsdl:message name="IService_getConsultingResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConsultingResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Dequy_InputMessage">
    <wsdl:part name="parameters" element="tns:Dequy" />
  </wsdl:message>
  <wsdl:message name="IService_Dequy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DequyResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="collect_Con">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/collect_Con" message="tns:IService_collect_Con_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/collect_ConResponse" message="tns:IService_collect_Con_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateTree" message="tns:IService_CreateTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateTreeResponse" message="tns:IService_CreateTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTableTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getTableTree" message="tns:IService_getTableTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getTableTreeResponse" message="tns:IService_getTableTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConsultingResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getConsultingResults" message="tns:IService_getConsultingResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getConsultingResultsResponse" message="tns:IService_getConsultingResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dequy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Dequy" message="tns:IService_Dequy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DequyResponse" message="tns:IService_Dequy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="collect_Con">
      <soap:operation soapAction="http://tempuri.org/IService/collect_Con" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTree">
      <soap:operation soapAction="http://tempuri.org/IService/CreateTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTableTree">
      <soap:operation soapAction="http://tempuri.org/IService/getTableTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConsultingResults">
      <soap:operation soapAction="http://tempuri.org/IService/getConsultingResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dequy">
      <soap:operation soapAction="http://tempuri.org/IService/Dequy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:62677/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>